<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="title" content="개미의 선택" />
<meta name="description" content="개미들의 주가 예측 플랫폼">
<meta name="author" content="핀쓰리">

<link rel="icon" href="http://v4-alpha.getbootstrap.com/favicon.ico">
<title>CardFactory</title>
<!-- Bootstrap core CSS -->
<link href="/javascripts/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/common.css" rel="stylesheet">
