<div id="menu_select_option_list" class="row">
    <div class="col-xs-4 col-md-4 text-center <% if (activeTab === 'stat') { %>active<% } %>">
        <a href="/stats">
            <img src="/images/button_navi_02.png" />
        </a>
    </div>
    <div class="col-xs-4 col-md-4 text-center <% if (activeTab === 'ranking') { %>active<% } %>">
        <a href="/rankings">
            <img src="/images/button_navi_03.png" />
        </a>
    </div>
    <div class="col-xs-4 col-md-4 text-center <% if (activeTab === 'myPage') { %>active<% } %>">
        <a href="/users/myPage">
            <img src="/images/button_navi_04.png" />
        </a>
    </div>
</div>