<div id="menu_select_option_list" class="row">
    <div class="col-xs-3 col-md-3 text-center">
        <img src="/images/button_navi_01_off" />
    </div>
    <div class="col-xs-3 col-md-3 text-center <% if (activeTab === 'stat') { %>active<% } %>">
        <img src="/images/button_navi_02_off" />
    </div>
    <div class="col-xs-3 col-md-3 text-center <% if (activeTab === 'ranking') { %>active<% } %>">
        <img src="/images/button_navi_03_off" />
    </div>
    <div class="col-xs-3 col-md-3 text-center <% if (activeTab === 'my') { %>active<% } %>">
        <img src="/images/button_navi_04_off" />
    </div>
</div>