<div id="menu_select_option_list" class="row">
    <div class="col-xs-3 col-md-3 text-center">
        <a href="/predictions">
            <img src="/images/button_navi_01.png" />
        </a>
    </div>
    <div class="col-xs-3 col-md-3 text-center <% if (activeTab === 'stat') { %>active<% } %>">
        <a href="/stats">
            <img src="/images/button_navi_02.png" />
        </a>
    </div>
    <div class="col-xs-3 col-md-3 text-center <% if (activeTab === 'ranking') { %>active<% } %>">
        <a href="/rankings">
            <img src="/images/button_navi_03.png" />
        </a>
    </div>
    <div class="col-xs-3 col-md-3 text-center <% if (activeTab === 'mypage') { %>active<% } %>">
        <a href="/mypages">
            <img src="/images/button_navi_04.png" />
        </a>
    </div>
</div>