body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-image: url('/images/default_bg.png');
  background-size: cover;
  font-family: "NotoSansCJKkr_Regular";
}

#nav > div {
  width: 100%;
}

#nav > div > p {
  width: 100%;
  line-height: 50px;
  font-size: 24px;
  color: #FFFFFF;
}

#content_container {
  width: 100%;
  height: 88%;
  padding-top: 50px;
}

#menu_container {
  width: 100%;
  height: 12%;
  overflow: hidden;
}

@font-face {
  font-family:"NotoSansCJKkr-Regular";
  src: url('/font/NotoSansCJKkr_Regular.otf')format("truetype");
  font-style: normal;
  font-weight: normal;
}

#menu_select_option_list {
  border: solid #6D6D6D;
  width: 100%;
  height: 100%;
  margin: 0;
}

#menu_select_option_list > div {
  height: 100%;
  position: relative;
  padding: 0px;
  margin: 0px;
}

#menu_select_option_list > div.active {
  background-color: #2B2B2B;
}

#menu_select_option_list img {
  height: 70%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}