body {

}

#content_container {
    width: 100%;
    height: 90%;
    padding-top: 0px;
}

#menu_container {
    width: 100%;
    height: 10%;
    overflow: hidden;
}

.padding-zero {
    padding: 0px;
}

.margin-zero {
    margin: 0px;
}

#page_title {
    height: 12%;
    padding-top: 5%;
}

#page_content {
    height: 88%;
}

#page_title > p {
    font-size: 22px;
    color: #3D3D3D;
}

#up_container {
    height: 20%;
}

#down_container {
    height: 20%;
}

#center_container {
    width: 100%;
    height: 60%;
    margin: 0px;
    padding: 0px;
}

#center_container > .center-item {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#center_container > .right-item {
    padding-right: 0px;
}

#center_container > .left-item {
    padding-left: 0px;
}


#center_container > .center-item > img {
    width: 100%;
    max-height: 400px;
    vertical-align: middle;
}


.up-img {
    height: 100%;
    margin-top: 5%;
}

.down-img {
    height: 100%;
    margin-top: -5%;
}

.button-wrapper {
    height: 100%;
}

#stock_title {
    width: 100%;
    top: 40%;
    transform: translateY(-40%);
    position: absolute;
    font-size: 40px;
    color: #FFFFFF;

}

#stock_price {
    width: 100%;
    top: 80%;
    transform: translateY(-80%);
    position: absolute;
    font-size: 22px;
    color: #FFFFFF;
}

#menu_container {
    padding-top: 5%;
}

#menu_container > p {
    font-size: 20px;
    font-weight: bold;
    color: #434343;
}