#top_tap_container {
    width: 100%;
    height: 8%;
}

#stat_canvas {
    height: 92%;
}

#tap_option_list {
    width: 100%;
    height: 100%;
    margin: 0;
}

#tap_option_list > div {
    height: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
}

#tap_option_up {
    background-image: url('/images/tap_up_off.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#tap_option_up.active {
    background-image: url('/images/tap_up_on.png');
}

#tap_option_down {
    background-image: url('/images/tap_down_off.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#tap_option_down.active {
    background-image: url('/images/tap_down_on.png');
}


#tap_option_list img {
    width: 100%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bubbleChart {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}