<!DOCTYPE html>
<html>
  <head>
    <%- include partial/common-head.ejs %>
    <link rel="stylesheet" href="/css/login.css" />
    <meta property="og:title" content="개미의 선택" />
    <meta property="og:description" content="개미들의 주가 예측 플랫폼" />
    <meta property="og:image" content="" />
  </head>
  <body>
    <div id="content_container" style="background-image: url('/images/bg_login.png'); background-size: cover;">
      <div class="login-input text-center">
        <input id="email" type="email"/>
      </div>
      <div class="login-input text-center">
        <input id="password" type="password"/>
      </div>
      <div id="lost_password" class="text-center">
        <p>계정을 잊으셨나요?<p>
      </div>
      <div>
        <div id="login_btn" class="text-center">
          <img src="/images/button_login.png" />
        </div>
        <div id="join_btn" class="text-center">
          <img src="/images/button_signup.png" />
        </div>
      </div>
    </div>

    <script type="text/javascript" src="main.bundle.js" charset="utf-8"></script>
  </body>
</html>
