<!DOCTYPE html>
<html>
    <head>
        <%- include partial/common-head.ejs %>
        <link rel="stylesheet" href="/css/stat.css" />
        <meta property="og:title" content="개미의 선택" />
        <meta property="og:description" content="개미들의 주가 예측 플랫폼" />
        <meta property="og:image" content="" />
    </head>
    <body>
        <nav id="nav" class="navbar navbar-fixed-top">
            <div>
                <p class="text-center">예측 현황</p>
            </div>
        </nav>
        <div id="content_container">
            <div id="top_tap_container">
                <div id="tap_option_list" class="row">
                    <div id="tap_option_up" class="col-xs-6 col-md-6 text-center active">
                    </div>
                    <div id="tap_option_down" class="col-xs-6 col-md-6 text-center">
                    </div>
                </div>
            </div>
            <div id="stat_canvas">

            </div>
        </div>
        <div id="menu_container">
            <%- include partial/menu.ejs %>
        </div>
        <!--<script src="/javascripts/vendors/bubble-chart.js"></script>-->
        <script type="text/javascript" src="stat.bundle.js" charset="utf-8"></script>
    </body>
</html>
